/*--  =====================================ELEMENTS LARGE VIEWPRT============================================ */

/* ======================================NAVIGATION ELEMENTS -->*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{box-sizing: border-box;
}


body {
	margin: 0;
	padding: 0;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: crimson;
	color: white;
}

.brand{
	
}


.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;	
}


.navbar-links li a{
	text-decoration: none;	
	color: white;
	font-size: 1.0em;
	font-weight: bold;
	font-family: Roboto;
	padding: 1rem;
	display: block;	
	margin-right: 0px;
}

.navbar-links li:hover{
	background-color: black;	
}




.toggle-button {
	position: absolute; 
	top: 0.75rem;	
	right: 1.0rem;
	flex-direction:column;
	width: 30px;
	height: 21px;
	justify-content: space-between;
	display: none;
	 
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}


/* ======================================TEXT STYLES ELEMENTS INCLUDING LINKS -->*/


h1 {
	font-family: "Roboto", serif;
  	font-weight: 700;
  	font-style: normal;
	color: black; 
	font-size: 2.1em;
	
	

}

h2 {
	font-family: "Roboto", serif;
  	font-weight: 700;
  	font-style: normal;
	color: black; 
	font-size: 1.5em;
	letter-spacing: 0em;
	/*text-align: center;*/

}


p {
	font-family: "Roboto", serif;
  	font-weight: 400;
  	font-style: normal;
	color: black; 
	font-size: 1.2em;
	line-height:1.4em;
	/*text-align: center;*/
}

/* ======================================IMAGES LINKS AND OTHER ELEMENTS  -->*/
a {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: none;
color: red;
}

#cheese{

 	display: inline;
	max-width: 100%;
}

/* ======================================FORMATTING FOR TWO BOX SECTIONS  -->*/


.box{
	padding-left: 100px;
	height: auto;
	width: 80%;
	background-color:white;
	

}

.subsection{
	padding-left: 100px;
	height: auto;
	width: 70%;
	font-family: "Roboto", serif;
  	font-weight: 400;
  	font-style: normal;
	letter-spacing: 0 em;
	font-size: 1.2em;
	line-height:1.5em;
	
	
	/*color: red; font-family: Roboto, Arial, Verdana; */
	/*font-size: 1.0em;*/
	/*letter-spacing: 1px;*/
	/*line-height: 19px;*/
}


/* =====================================ELEMENTS SMALL VIEWPORT============================================*/
/* ======================================NAVIGATION ELEMENTS -->*/

@media (max-width: 480px){

	.toggle-button{
		display: flex;
	}

.navbar-links {
		display:none;
		width: 100%;
}

.navbar {
	 flex-direction: column;
	align-items: flex-start;
	}

.navbar-links ul{
	width: 100%;
	flex-direction: column;
	}

.navbar-links li{
	text-align: center;
}
.navbar-links li a{
	padding: 0.5rem 1rem;
}

.navbar-links.active {
	display: flex;
}

	.box{
		padding-left: 22px;
		height: auto;
		width: 90%;

	}

	.subsection{
		padding-left: 22px;
		height: auto;
		width: 90%;
		color: black; font-family: Roboto, arial; 
		font-weight: 400;
		font-size: 1.0rem;
		line-height:1.4em;
		
		
	}

/* ======================================TEXT STYLES ELEMENTS INCLUDING LINKS -->*/

	h1 {
		color: black; font-family: Roboto, arial; 
		font-size: 1.75em;
		font-weight: 600;
		letter-spacing: 0em;
	}

	h2 {
		color: black; font-family: Roboto, arial; 
		font-size: 1.25em;
		letter-spacing: 0em;

	}


	p {color: black; font-family: Roboto, arial; 
		font-weight: 400;
		font-size: 1.00em;
		
		
	}

#cheese{

 display: block;
max-width: 100%;
}

}

